*{margin:0;padding:0;}
body{
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
a{text-decoration: none}
.wrapper{
    background: #2E363F;
}
.content{
    background: none repeat scroll 0 0 #f3f3f3;
    position: absolute;
    left: 220px;
    right: 0;
    top: 70px;
    bottom:0;
    width: auto;
    padding:30px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.widget-box{
    max-width: 1200px;
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 1px solid #F0F8FF;
    border-top: 2px solid #27a9e3;
    border-right: 2px solid #cdcdcd;
    clear: both;
    margin:0 auto 30px;
    position: relative;
}
.widget-box:hover{
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
}
.widget-title{
    background: #efefef;
    border-bottom: 1px solid #F0F8FF;
    height: 40px;
}
.widget-title h5 {
    color: #666;
    padding: 12px;
    margin: 0;
    font-weight: normal;
}
.widget-content {
    padding:25px;
    border-bottom: 2px solid #cdcdcd;
}
.widget-box .el-select,
.widget-box .el-input,
.widget-box .el-upload,
.widget-box .el-tooltip{
    display: inline-block;
}
.el-button+.el-tooltip {
    margin-left: 10px;
}
.el-table td,.el-table th{
    padding:5px 18px;
}
.el-table tr:hover{
    background: #f6faff;
}
.page-box{
    margin-top: 20px;
    text-align: right;
}
.page-box .el-pagination{
    background: #f9f9f9;
}
.mgb20{
    margin-bottom: 15px;
}
.mgb5{
    margin-bottom: 5px;
}
.dialog{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background: rgba(0,0,0,.4);
    z-index:-1;
    opacity: 0;
    transition: all .5s ease;
}
.dialog.dialog-show{
    opacity: 1;
    z-index: 1000;
}
.dialog .dialog-wrapper{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: top .5s ease;
}
.dialog.dialog-show .dialog-wrapper{
    top: 17%;
}
.dialog .dialog-header{
    padding: 20px 20px 0;
}
.dialog .dialog-content{
    padding: 30px 20px;
    color: #475669;
    font-size: 14px;
}
.dialog .dialog-close{
    float: right;
    cursor: pointer;
    color: #c0ccda;
}
.dialog .dialog-close:hover{
    color: #20a0ff;
    animation: close-rotate .3s ease;

}
@keyframes close-rotate {
    from{
        transform: rotate(-360deg);
    }
}
.el-upload__files{
    display: none;
}