.v-note-wrapper{
    display: flex;
    flex-direction: column;
}
.v-note-wrapper .v-note-op{
    display: flex;
    flex: none;
}
.v-note-wrapper .v-note-op .left,
.v-note-wrapper .v-note-op .right{
    flex: 1;
}
.v-note-wrapper {
  display: flex;
  flex-direction: column;
}
.v-note-wrapper .v-note-op {
  display: flex;
  flex: none;
}
.v-note-wrapper .v-note-op .left,
.v-note-wrapper .v-note-op .right {
  flex: 1;
}

.v-note-wrapper .v-note-panel {
  display: flex;
  flex: 1;
  min-height: 500px;
}
.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper {
  flex: 0 0 50%;
}

.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper.single-edit {
  flex: 0 0 100%;
}
.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper.single-show {
  width: 0;
  flex: 0 0 0;
  display: none;
}

.v-note-wrapper .v-note-panel .v-note-show {
  flex: 0 0 50%;
}
.v-note-wrapper .v-note-panel .v-note-show.single-show {
  flex: 0 0 100%;
}

.v-note-wrapper .v-note-panel .v-note-navigation-wrapper {
  display: flex;
  flex-direction: column;
}

.v-note-wrapper .v-note-panel .v-note-navigation-wrapper .v-note-navigation-title {
  flex: none;
}

.v-note-wrapper .v-note-panel .v-note-navigation-wrapper .v-note-navigation-content {
  flex: 1;
}
.v-note-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.v-note-img-wrapper img {
    flex: 0 0 auto;
}