.header{
    background-color: #242f42;
}
.login-wrap{
    background: #324157;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: var(--el-color-primary);
}

.tags-li.active {
    border: 1px solid var(--el-color-primary);
    background-color: var(--el-color-primary);
}
.message-title{
    color: var(--el-color-primary);
}
.collapse-btn:hover{
    background: rgb(40,52,70);
}